@import "../../asset/css/agent.less";

.assistant {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 10000 !important;
}

.popoverContent {
  width: 600px;
  background-color: #f5f5f5 !important;
  overflow-y: auto;
}

.agentImage {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #000;

  &>img {
    width: 100%;
    object-fit: cover;
  }
}

.avatarLogo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.assistantContent {
  min-width: calc(100% - 50px);
  background: #fff
}


.drawerChatListBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  &:hover .actionsBox {
    opacity: 1;
  }

  .contentBox {
    display: inline-flex;
    justify-content: end;

    .content {
      display: inline-box;
      padding: 12px;
      background-color: #e0dfff;
      border-radius: 8px;
    }
  }


  .actionsBox {
    opacity: 0;
    transition: opacity .3s;
  }

  .textareaBox {
    border: 1px solid #8985f6;
    border-radius: 8px;
    padding: 8px;
  }

}