.addFriendModal {}

.addUserList {
  height: 60vh;
  overflow-y: auto;
}

.addUserCard {
  padding: 10px !important;
}

.userAvatarBox {
  min-height: 60px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer
}