.workflow-popover {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  min-width: 300px;
  min-height: 400px;
  max-height: 80vh;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
}
