.baseNodeCmp {
  padding: 10px;
  background-color: #fff;
  .nodeBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .labelBox {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      font-weight: bold;
      .label-icon {
        font-size: 18px;
      }
    }
    .descBox {
      color: #8c8c8d;
      font-size: 14px;
    }
    .container {
    }
  }
}
