.commandList {
  .commandItem {
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    background-color: #fafafb;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: #f3f3f5;
    }

    .title {
      color: #113;
      font-size: 15px;
      font-weight: bold;
    }

    .content {
      color: #111133b3;
      font-size: 13px;
    }
  }
}